.input{
  width: 20%;
  margin-bottom: 5px;
  margin-right:5px;

}
.App{
  background-color: aquamarine;
  max-width:100%;
  max-height:100%;
  padding:10vw
}

.column {
  display: flex;
  flex-direction:column;
  padding: 0 4px;


}

.image{
  width: 30vw !important;
  margin-right: 5vw;
}
.container{
  display: flex;
  flex-direction:row;
  background-color:bisque;
  max-width: 100%;
  padding:40px;
  border: 3px solid;
  border-radius:20px;
  margin-bottom: 20px ;
} 